.tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-items: center;
    grid-gap: 1.5rem;
    padding: 40px;
}

.tarjeta {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    height: auto; 
    border: solid 2px black;
    border-radius: 1rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
        0 5px 15px rgba(0, 0, 0, 0.2),
        5px 0 15px rgba(0, 0, 0, 0.2),
        -5px 0 15px rgba(0, 0, 0, 0.2),
        0 -5px 15px rgba(0, 0, 0, 0.2);

}

.mapa {
    margin-top: 5px;
    width: 100%; 
    height: auto; 
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

h2 {
    margin: 5px 2px;
    text-align: center;
}

p {
    height: auto;
    margin: auto 20px;
    text-align: justify;
}

img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%; 
    height: auto; 
}

@media screen and (max-width: 600px) {
    .tarjetas {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
  }